.card {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}

.profileLink {
  text-decoration: none;
}

.section {
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.like {
  color: var(--mantine-color-red-6);
  width: rem(20px);
  height: rem(20px);
}

.label {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}

.ImageContainer {
  position: relative;
}

.fullscreenButton {
  position: absolute !important;
  bottom: 0;
  right: 0;
}

.user {
  padding: var(--mantine-spacing-xs) !important;
  color: light-dark(
    var(--mantine-color-black),
    var(--mantine-color-dark-0)
  ) !important;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-8)
    );
  }
}
