.app {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.scrollArea {
  height: 100%;
}
