.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.tr {
  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-8)
    );
  }
}

.unstyledLink {
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
